.coupon__bottom-num {
    font-family: "Roboto";
    color: #df212d;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 28px;
    margin-bottom: 6px;
}
@media screen and (max-width: 320px) {
    .coupon__bottom-num {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
    }
}